@import "../../../utils/theme/colors";
@import "../../../utils/theme/breakpoints";


.container {
  padding: 8px;
  align-items: center;
  display: flex;

  @include respond-to("tabletBig") {
    flex: 1;
  }
}

.subTitle {
  color: $global-color-muted;
  margin-top: 4px;
}

.typeBar {
  width: 6px;

}

.smallBar {
  background-color: $global-color-neon;
}

.functionalBar {
  background-color: $global-color-accent-purple;
}

.calisthenicsBar {
  background-color: $global-color-dark;
}

.openBar {
  background-color: $global-color-muted;
}

.textContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-around;
  margin-left: 16px;
}
