@import "../../../utils/theme/colors";

.container {
  display: flex;
  height: 62px;
  padding: 8px;
  align-items: center;
}

.subTitle {
  color: $global-color-muted;
}

.typeBar {
  width: 6px;
  height: 46px;
}

.smallBar {
  background-color: $global-color-neon;
}

.calisthenicsBar {
  background-color: $global-color-dark;
}

.openBar {
  background-color: $global-color-muted;
}

.textContainer {
  height: 46px;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-around;
  margin-left: 16px;
}
