@import "../../utils/theme/colors";

.emptyContainer {
  width: 100%;
  height: 300px;
}

.container {
  background-color: $global-background-color-neon;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 165px;
  height: 55px;
  padding: 8px 4px;
  border-radius: 2px;
  margin: 20px 0 0 20px;
  -webkit-box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
}
