@import "../../../utils/theme/breakpoints";

.header, .scheduleTypesContainer, .calendarContainer, .button {
  grid-column: col-start / span 12;

  &.scheduleTypesContainer {
    @include respond-to("tabletBig") {
      display: flex;
    }
  }
}

.scheduleTypesContainer {
  margin: 0 -32px;
}

.button {
  margin-top: 40px;
  margin-bottom: 80px;
  display: flex;
  justify-content: center;
}

.calendarContainer {
  margin-top: 24px;
  margin-bottom: 40px;
}

@include respond-to("tabletBig") {
  .scheduleType:not(:last-child) {
    margin-right: 24px;
  }
}




