@import "../../utils/theme/colors.module";
@import "../../utils/theme/breakpoints.module";

.container {
  height: 40px;
  border: none;
  justify-content: space-between;
  margin: 0;
  padding: 8px 16px;
  cursor: pointer;

  @include respond-to($desktopSmall){
    height: 48px;
  }
}


.primaryContainer {
 background-color: $global-background-color-dark;
  color: $global-color-light;
}

.primaryLightContainer {
  background-color: $global-background-color-neon;
  color: $global-color-dark;
}

.secondaryContainer {
  background-color: $global-background-color-light;
  color: $global-color-dark;
  border: 1px solid $global-background-color-dark;
}

.secondaryLightContainer {
  background-color: $global-background-color-dark;
  color: $global-color-light;
  border: 1px solid $global-background-color-light;
}






