@import "../../utils/theme/colors.css";

.container {
    height: 48px;
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--global-color-light, #FFFFFF);
    margin: 0;
    padding: 0;
}

.buttonSection {
    padding: 16px;
    justify-content: center;
    align-items: center;
    display: flex;
}


.primary {
    background-color: transparent;
    border-color: var(--global-color-dark, #131313);
}

.primaryText {
    color: var(--global-color-dark, #131313);
}

.secondaryText {
    color: var(--global-color-light, #FFFFFF);
}

.secondary {
    background-color: var(--global-background-color-dark, #131313);
    border-color: var(--global-color-light, #FFFFFF)
}

.separator {
    width: 1px;
    height: 48px;
}

.primarySeparator {
    background-color: #131313;
}

.secondarySeparator {
    background-color: #FFFFFF;
}




