@import "../../utils/theme/colors.module";

.container {
  height: 48px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.buttonSection {
  padding: 16px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.primaryContainer {
 background-color: $global-background-color-dark;
  color: $global-color-light;
}

.primaryLightContainer {
  background-color: $global-background-color-neon;
  color: $global-color-dark;
}

.secondaryContainer {
  background-color: $global-background-color-light;
  color: $global-color-dark;
  border: 1px solid $global-background-color-dark;
}

.secondaryLightContainer {
  background-color: $global-background-color-dark;
  color: $global-color-light;
  border: 1px solid $global-background-color-light;
}






