/*.grid {*/
/*    margin: 1em;*/
/*    border: solid lightgray;*/
/*    background: lightgray;*/
/*    display: grid;*/
/*    grid-template-columns: repeat(2, minmax(10px, 1fr));*/
/*    grid-gap: 2px;*/
/*}*/

.grid {
    border: solid lightgray;
    display: grid;
    margin: 16px;
    grid-gap: 16px;
    background: lightgray;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

}

@media only screen and (max-width: 575px) {
    .grid {
        margin: 16px
    }
}


