@import "../../../utils/theme/colors.module";
@import "../../../utils/theme/breakpoints.module";

.body {
  margin-top: 24px;
  margin-bottom: 40px;
}

.bodyText {
  line-height: 150%;
  color: $global-color-light;
}

.container {
  @include respond-to("desktopBig") {
    grid-column: col-start 6 / span 7;
  }
}

.sectionContainer {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../../../assets/images/sections/ourCoursesBg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
}

.listItem {
  color: white;
  list-style-type: disc;
  margin-left: 24px;

  &:not(:last-child){
    margin-bottom: 8px;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

.sectionTitle {
  color: $global-color-light;
  margin-bottom: 24px;
}
.courseDescriptionContainer {
  min-height: 650px;
  position: relative;
  display: flex;
  flex-direction: column;
  padding-bottom: 24px;


  @include respond-to($tabletSmall){
    min-height: 750px;
  }

  @include respond-to($tabletBig){
    min-height: 570px;
  }

  @include respond-to($desktopSmall){
    min-height: 500px;
  }

  @include respond-to($desktopBig){
    min-height: 680px;
  }



}
