@import "../../../utils/theme/colors.module";
@import "../../../utils/theme/breakpoints.module";

.body {
  margin-top: 24px;
  margin-bottom: 40px;
}

.bodyText {
  line-height: 150%;
  color: $global-color-light
}

.container {
  @include respond-to("desktopBig") {
    grid-column: col-start 7 / span 6;
  }
}

.sectionContainer {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../../../assets/images/sections/calisthenicsSectionBg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

.sectionTitle {
  color: $global-color-light;
}
