@import "../../utils/theme/text";

.heading {
  font-size: $heading;
  font-family: $global-font-family-bold;
}

.menu {
  font-size: $menu;
  font-family: $global-font-family-bold;
  line-height: $menu * 1.4;

}

.pageTitle {
  font-size: $page-title;
  font-family: $global-font-family-bold;
}

.paragraph {
  font-size: $paragraph;
  font-family: $global-font-family-regular;
  font-weight: 400;
  line-height: $paragraph * 1.5;


}

.quotes {
  font-size: $quotes;
  font-family: $global-font-family-bold;
  line-height: $quotes * 1.4;
}

.sectionTitle {
  font-size: $section-title;
  font-family: $global-font-family-bold;
}

.smallParagraph {
  font-size: $small-paragraph;
  font-family: $global-font-family-regular;
  font-weight: 400;
  line-height: $small-paragraph * 1.4;

}

.smallTitle {
  font-size: $small-title;
  font-family: $global-font-family-regular;
  font-weight: 500;
  line-height: $small-title * 1.3;


}

.label {
  font-size: $label;
  font-family: $global-font-family-regular;
  line-height: $label * 1.4;
}
