@import "../../utils/theme/text";

.heading {
  font-size: $heading;
  font-family: $global-font-family-bold;
}

.menu {
  font-size: $menu;
  font-family: $global-font-family-bold;
}

.pageTitle {
  font-size: $page-title;
  font-family: $global-font-family-bold;
}

.paragraph {
  font-size: $paragraph;
  font-family: $global-font-family-regular;
  font-weight: 400;
}

.quotes {
  font-size: $quotes;
  font-family: $global-font-family-bold;
}

.sectionTitle {
  font-size: $section-title;
  font-family: $global-font-family-bold;
}

.smallParagraph {
  font-size: $small-paragraph;
  font-family: $global-font-family-regular;
  font-weight: 400;
}

.smallTitle {
  font-size: $small-title;
  font-family: $global-font-family-regular;
  font-weight: 500;
}

.label {
  font-size: $label;
  font-family: $global-font-family-regular;
}
