.container {
    display: flex;
    flex-direction: column;
    position: relative;
}

.logo1 {
    width: 50%;
    height: 50%;
}

.logo2 {
    align-self: center;
    width: 100%;
    height: 100%;
}

.logo3 {
    width: 30%;
    height: 30%;
}

.logo1Container {
    position: relative;
    bottom: -11px;
    left: 23%;
    width: 80%;
}

.logo2Container {
    display: flex;
}

.logo3Container {
    position: relative;
    top: -15px;
    right: 5%;
    width: 80%;
    align-self: center;
    text-align: right;
}
