$neon: #E1FF2C;
$neonPurple: #D45DFE;
$black: #131313;
$pureBlack: #000000;
$white: #FFFFFF;
$grey: #757575;
$red: #E11900;
$orange: #FFA14F;
$green: #4CD60C;

$global-color-success: $green;
$global-color-warning: $orange;
$global-color-danger: $red;
$global-color-neon: $neon;
$global-color-accent-purple: $neonPurple;
$global-color-dark: $black;
$global-color-muted: $grey;
$global-color-light: $white;

$global-background-color-dark: $global-color-dark;
$global-background-color-black: $pureBlack;
$global-background-color-light: $global-color-light;
$global-background-color-neon: $global-color-neon;
$global-background-color-accent-purple: $global-color-accent-purple;

:export {
  success: $global-color-success;
  warning: $global-color-warning;
  danger:$global-color-danger;
  neon: $global-color-neon;
  purple: $global-color-accent-purple;
  dark: $global-color-dark;
  muted: $global-color-muted;
  light: $global-color-light;

  backgroundDark:$global-background-color-dark;
  backgroundBlack: $global-background-color-black;
  backgroundLigh: $global-background-color-light;
  backgroundNeon: $global-background-color-neon;
  backgroundPurple: $global-background-color-accent-purple;
}
