$page-title: 4.236rem;
$section-title: 2.618rem;
$heading: 1.618rem;
$quotes: 2.25rem;
$menu: 1rem;
$paragraph: 1rem;
$small-title:0.888rem;
$small-title-desktop: 0.75rem;
$small-paragraph: 0.618rem;
$label: 0.542rem;

$global-font-family-bold: "Bison Bold", "SF Pro Text", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$global-font-family-regular: "Inter", "SF Pro Text", "Helvetica Neue", "Helvetica", "Arial", sans-serif;


:export {
  pageTitle: $page-title;
  sectionTitle: $section-title;
  heading: $heading;
  quotes: $quotes;
  menu: $menu;
  paragraph: $paragraph;
  smallTitle: $small-title;
  smallTitleDesktop:$small-title-desktop;
  smallParagraph: $small-paragraph;
  label: $label;


  fontFamilyBold: $global-font-family-bold;
  fontFamilyRegular: $global-font-family-regular;
}
