@import "../../utils/theme/colors";
@import "../../utils/theme/vars";
@import "../../utils/theme/breakpoints";

.closeContainer {
  position: relative;
  top: -50px;
  right: 0;
  display: flex;
  justify-content: right;
  cursor: pointer;
}

.contentHeader {
  grid-column: col-start / span 12;

  @include respond-to("desktopSmall") {
    grid-column: col-start 2 / span 10;
  }
}

.footer {
  grid-column: col-start 2 / span 11;
  margin: 56px 0 80px 0;

  @include respond-to("desktopBig") {
    grid-column: col-start 3 / span 9;
  }
}

.modal {
  width: 100%;
  height: calc(100% - #{$modal-top-margin});
  background-color: $global-background-color-light;
  position: fixed;
  bottom: -100%;
  transition: 1s;
  z-index: 1000;
  overflow-x: hidden;
  overflow-y: scroll;
}

.modalBack {
  width: 100%;
  height: calc(100% - #{$modal-top-margin});
  background-color: $global-background-color-light;
  position: fixed;
  bottom: -100%;
  transition: 1s;
  z-index: 1000;
}

.modalContentContainer {
  padding: 40px 0;
  line-height: 150%;
}

.open {
  bottom: 0
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
}

.scrollable {
  height: 100%;
  overflow-y: scroll;
  background-color: red;
}

.quotes {
  position: absolute;
  left: -40px;
  top: -10px;
}

.firstSectionText, .secondSectionText {

  grid-column: col-start / span 12;

  &.firstSectionText {
    @include respond-to("desktopSmall") {
      grid-column: col-start 1 / span 11;
    }
  }

  &.secondSectionText {
    @include respond-to("desktopSmall") {
      grid-column: col-start 2 / span 11;
    }
  }
}


.footerContentContainer {
  background-color: #E1FF2C;
}

.footerTextContainer {
  position: relative;
  top: -40px;
  left: 20px
}


