@import "../../utils/theme/colors";

.closeContainer {
  position: relative;
  top: -50px;
  right: 0;
  display: flex;
  justify-content: right;
  cursor: pointer;
}

.contentHeader, .content {
  grid-column: col-start / span 12;

  &.content {
    line-height: 150%;
  }
}


.modal {
  width: 100%;
  height: 50%;
  background-color: $global-background-color-light;
  position: fixed;
  bottom: -100%;
  transition: 1s;
  z-index: 1000;
}

.open {
  bottom: 0
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
}

.scrollable {
  height: 100%;
  overflow-y: scroll;
  background-color: red;
}

