@import "../../utils/theme/colors";
@import "../../utils/theme/vars";
@import "../../utils/theme/breakpoints";

.closeContainer {
  position: relative;
  top: -50px;
  justify-content: flex-end;
  cursor: pointer;
  display: flex;
}

.modal {
  width: 100%;
  height: calc(100% - #{$modal-top-margin});
  background-color: $global-background-color-light;
  position: fixed;
  bottom: -100%;
  transition: 1s;
  z-index: 1000;
  overflow-x: hidden;
  overflow-y: scroll;
}

.modalBack {
  width: 100%;
  height: calc(100% - #{$modal-top-margin});
  background-color: $global-background-color-light;
  position: fixed;
  bottom: -100%;
  transition: 1s;
  z-index: 1000;
}

.modalContentContainer {
  padding: 40px 0;
  line-height: 150%;
}

.open {
  bottom: 0
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  transition: all 1s;
}


.scrollable {
  height: 100%;
  overflow-y: scroll;
  background-color: red;
}
