@import "../../../utils/theme/colors.module";
@import "../../../utils/theme/breakpoints.module";

.container {
  background-color: $global-background-color-dark;
}

.locationStreetText {
  font-weight: bold;
}

.mapContainer {
  margin-top: 40px;
  width: 100%;
  height: 309px;

  @include respond-to("tabletBig") {
    height: 429px;
  }

  @include respond-to("desktopBig") {
    height: 508px;
  }
}

.header, .contactsContainer, {

  &.contactsContainer, {
    margin: 24px 0;
  }

  &.header {
    @include respond-to("desktopBig") {
      margin-bottom: 63px;
      grid-column: col-start 2 /span 10;
    }
  }
}

.map {
  filter: invert(90%);
  width: 100%;
  height: 309px;

  @include respond-to("tabletBig") {
    height: 429px;
  }

  @include respond-to("desktopBig") {
    height: 508px;
  }
}

.text {
  color: $global-color-light;
}


