@import "../../../utils/theme/colors";
@import "../../../utils/theme/breakpoints";

.container {
  background-color: $global-background-color-dark;
}

.locationStreetText {
  font-weight: bold;
}

.header, .contactsContainer, .mapContainer {
  grid-column: col-start / span 12;

  &.contactsContainer, {
    margin: 24px 0;
  }

  &.mapContainer {
    margin-top: 40px;
  }

  &.header {
    @include respond-to("desktopBig") {
      margin-bottom: 63px;
      grid-column: col-start 2 /span 10;
    }
  }
}

.text {
  color: $global-color-light;
}


