@import "../../../utils/theme/vars";

.mark {
  width: 53px;
  margin-bottom: 16px;
}

.logoName {
  width: 81px;
}

.compactLogoName {
  opacity: 0;
}

.compactLogo {
  transform: translate(0, 10px);
}


.logoContainer {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
  img {
    transition: all 1s;
  }
}

.navbarContainer {
  height: $navbar-desktop-height;
  background-color: rgba(0, 0, 0, .8);
  backdrop-filter: blur(5px);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  display: flex;
  flex: 1;
  transition: height .500s;
}

.compactNavbar {
  height: $navbar-desktop-compact-height;
}
