@import "../../../utils/theme/text";
@import "../../../utils/theme/breakpoints";

.checkIconContainer {
  width: 90px;
  height: 90px;
  background-color: #4CD60C;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 32px;
}

.formContainer {
  position: relative;
  margin-top: 40px;
  grid-column: col-start /13;
}

.form {
  margin: auto;
  width: 100%;
  max-width: 600px;
}

.input {
  font-family: $global-font-family-regular;
  padding: 14px 16px;
  min-width: 200px;
  width: 100%;
  border: 1px solid #CBCBCB;
  font-size: 24px;
  margin-bottom: 32px;
}

.inputError {
  border: 1px solid #E11900;
}

.label {
  padding: 8px;
  font-size: 18px;
  font-family: $global-font-family-regular;
  display: inline-block;
}

.loaderContainer {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.loader {
  width: 85%;
  height: 85%;

  @include respond-to("tabletSmall") {
    width: 70%;
    height: 70%;
  }

}

.successContainer {
  background-color: white;
  text-align: center;

}

.textArea {
  resize: none;
  height: 146px
}
