@import "../../../utils/theme/text";

.formContainer {
  margin-top: 40px;
  grid-column: col-start /12;
}

.form {
  margin: auto;
  max-width: 600px;
}

.input {
  font-family: $global-font-family-regular;
  padding: 14px 16px;
  width: 100%;
  border: 1px solid #CBCBCB;
  font-size: 24px;
  margin-bottom: 32px;
}

.label {
  padding: 8px;
  font-size: 18px;
  font-family: $global-font-family-regular;
  display: inline-block;
}

.textArea {
  resize: none;
  height: 146px
}
