@import "../../utils/theme/colors";

.container {
  background-color: $global-background-color-dark;
  padding-bottom: 30px;
}

.footerContentContainer {
  grid-column: col-start / span 12;
  color: $global-color-muted;
}

.footerElement {
  display: flex;
  justify-content: center;
}

.footerLinkText {
  text-decoration: underline;
  cursor: pointer;

  /* visited link */
  &:visited {
    color: $global-color-muted;;
  }

  /* selected link */
  &:hover {
    color: $global-color-neon;
  }
}

.logoContainer {
  margin-top: 40px;
  margin-bottom: 24px;
}

.textContainer {
  min-height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}


