@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');


@font-face {
  font-family: 'Bison Bold';
  src: url('./utils/theme/fonts/bison-boldpersonaluse-webfont.woff2') format('woff2'),
    url('./utils/theme/fonts/bison-boldpersonaluse-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

a {
  text-decoration: none !important;
  color: inherit;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media only screen and (max-width: 575px) {
  html {
    font-size: 18px;
  }
}

@media only screen and (min-width: 576px) {
  html {
    font-size: 24px;
  }
}