.pointer {
  width: 48px;
  height: 67px;
  background: url("../../assets/images/pointerMap.png") no-repeat center;
  background-size: cover;
  position: relative;
  transform: translate(-50%, -100%);
}
