@import "../../../utils/theme/colors.css";

.body {
    margin-top: 24px;
    margin-bottom: 40px;
}

.bodyText {
    line-height: 150%;
    color: var(--global-color-light);
}

.container {
    background-image: url("../../../assets/images/sections/calisthenicsSectionBg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
    padding-bottom: 80px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -1;
}

.sectionContainer {
    padding: 80px 0
}

.sectionTitle {
    color: white;
}

@media only screen and (min-width: 1200px) {
    .sectionContainer {
        padding-left: 45%;
        padding-top: 160px;
        padding-bottom: 160px;
    }

}
