@import "../../../utils/theme/colors";
@import "../../../utils/theme/breakpoints";


.collapseMenuLink {
  cursor: pointer;
}

.collapseNavbarContainer {
  display: flex;
  flex-direction: row;
  height: 96px;
  align-items: center;
  justify-content: space-between;
}

.collapseMenuSection {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.navBarContainer {
  height: 96px;
  overflow: hidden;
  background-color: rgba(0, 0, 0, .8);
  backdrop-filter: blur(5px);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  transition: all .350s;

  @include respond-to("desktopSmall"){
    display: none;
  }
}

.navBarMenuButton {
  -webkit-tap-highlight-color: transparent;

  &:focus {
    outline: none;
    box-shadow: none;
  }
}

.navbarOpened {
  height: 236px;
}

.menuButton {
  color: $global-color-light;
  margin-left: 32px;
}

