@import "../../../utils/theme/colors.css";

.collapseMenuLink {
    cursor: pointer;
}

.collapseNavbarContainer {
    display: flex;
    flex-direction: row;
    height: 96px;
    align-items: center;
    justify-content: space-between;
}

.collapseMenuSection {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.navbar {
    padding: 0 5%;
}

.navBarContainer {
    height: 96px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, .8);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    transition: all .350s
}

.navbarOpened {
    height: 236px;
}

.menuButton {
    color: var(--global-color-light, #FFFFFF);
    margin-left: 32px;

}

