@import "../../../../utils/theme/breakpoints.module";
@import "../../../../utils/theme/colors.module";

.certificateImgContainer {
  height: 110px;
  width: 160px;
  display: flex;
  align-items: center;
}


.certificatesScrollableContainer {
  max-width: 1092px;
  margin: 0 auto;
  overflow-x: scroll;
  overflow-y: hidden;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  padding: 0 16px;

  &.certificatesScrollableContainer::-webkit-scrollbar {
    display: none;
  }

  @include respond-to("tabletBig") {
    padding: 0 32px;
  }

  // ok for 4- certificates / bad for 5+
  //@include respond-to("desktopSmall") {
  //  max-width: 1200px;
  //  padding: 0;
  //}

  @include respond-to("desktopBig") {
    max-width: 1200px;
    margin-top: -40px;
    position: relative;
    z-index: 99;
  }
}


.certificateText {
  margin-top: 15px;
  line-height: 130%;
}

.certificatesContentContainer {
  display: flex;
  justify-content: space-between;
}

.certificatesContainer {
  width: 1092px;
  margin: auto;
  padding: 32px;
  border: 1px solid $global-color-dark;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #E1FF2C;
    z-index: -1;
    opacity: 0.3;
  }

  @include respond-to("desktopBig") {
    width: auto;
  }
}

.singleCertificateContainer {
  width: 239px;
  height: 171px;
  display: flex;
  flex-direction: column;

  @include respond-to("desktopSmall") {
    width: 200px;
  }

  @include respond-to("desktopBig") {
    width: 251px;
  }
}
